body {
  background: #ffd2da;
  background-repeat: no-repeat;
}

.container {
  padding-left: 8%;
  padding-right: 8%;
  align-self: center;
  align-items: center;
}

.navbar {
  width: 100%;
  display: contents;
  align-self: center;
  align-items: center;
}

.header {
  color:rgb(0,0,0);
  text-align: center;
  font-size: 35px;

}

.navbar nav {
  flex: 1;
  text-align: center;
}

.hoverbutton {
  list-style: none;
  display: inline-block;
  background-color: pink;
  margin: 6px;
  border-radius: 10%;
  padding: 25px;
}

.pageTitle {
  margin-top: 50px;
  font-size: 25px;
  text-align: center;
  flex:1;
}

.hoverbutton a {
  text-decoration: none;
  color: rgb(33, 9, 96);
}

.hoverbutton:hover{
  background-color: rgb(248, 0, 128);
  padding: 35px;
  .pageTitle {
    margin-top: 5px;
  }
}

.MenuHyper{
  cursor: pointer;
}


.content {
  background-color:rgba(155, 155, 155, 0.4);
  flex: left;
  margin-top: 3%;
  margin-left: 12%;
  margin-right: 12%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 25px;
}

.content .subheading {
  align-items: flex-start;
  text-align: center;
  
}

.content p {
  text-align: center;
}


@media screen and (max-width: 720px) {
  .header {
      color: white;
  }
  .content {
    flex: left;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 5%;
    padding-right: 5%;
  }
} 

